body {
    text-align: center;
    color: rgb(49, 82, 38);;
}

h1 {
    font-size: 10rem;
    font-weight: bold;
    margin: 150px 0 20px 0;
    letter-spacing: 4px;
    font-family: 'GoogleSansCode', cursive;
}

/* fonts */

@font-face {
    font-family: 'CaveatBrush';
    src: url('fonts/CaveatBrush-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'GoogleSansCode';
    src: url('fonts/GoogleSansCode-Regular.ttf') format('truetype');
}

/* button */

button {
    padding: 12px 24px; /* spacing within btn */
    font-size: 16px;
    border: none;
    border-radius: 10px; /* rounds border */
    margin: 0 10px; /* spacing btwn btns */
    cursor: pointer; /* pointy finger upon hover */

    background-color: rgb(205, 229, 196);
    color: rgb(49, 82, 38);; /* text colour */
}

button:hover {
    background-color: rgb(174, 214, 159);
    color: rgb(49, 82, 38);
}

/* navbar */

nav {
    background-color: rgb(205, 229, 196);
    padding: 15px 30px; /* increases spacing inside */
    border-radius: 10px;
    margin: 20px auto 50px auto; /* spacing btwn top of screen + nav */
}

nav a {
    text-decoration: none;
    color: rgb(64, 97, 53);
    margin: 0 20px; /* spacing btwn nav elements */
    font-weight: 400;
}

nav a:hover {
    color: rgb(49, 82, 38);
}